/* client/pages/index.module.css */

.container {
  /* min-height: 80vh; */
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  text-align: center;
  color: #555;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
