/* client/pages/soap-note/index.module.css */

.container {
  padding: 2rem 2rem;
  margin: 0 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eaeaea;
}

.header h1 {
  font-size: var(--font-size-xxl);
}

.notesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.noNotes {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
  padding: 3rem;
  grid-column: 1 / -1; /* 讓此訊息佔滿整個網格寬度 */
}
