/* client/components/editor/TiptapEditor.module.css */

.toolbar {
  background-color: #ffffff;
  padding: 0.5rem;
  border-bottom: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.toolbar button {
  width: 36px;
  height: 36px;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: #333;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}

.toolbar button:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
  cursor: pointer;
}

.toolbar .isActive {
  background-color: #f0f0f0;
  border-color: #0070f3;
  transform: scale(1);
}

.editorContent {
  padding: 1rem;
  min-height: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* This is Editor specific styling */
.editorContent .ProseMirror {
  outline: none;
}

.editorContent :global(.ProseMirror:focus),
.editorContent :global(.ProseMirror:focus-visible) {
  outline: none !important;
  box-shadow: none !important;
}

.editorContent :global(.ProseMirror p) {
  margin: 0 0 1rem;
}

.editorContent :global(.ProseMirror p:last-child) {
  margin-bottom: 0;
}

.editorContent :global(.ProseMirror ul),
.editorContent :global(.ProseMirror ol) {
  padding-left: 2rem;
  margin: 1rem 0;
}

.editorContent :global(.ProseMirror strong) {
  font-weight: bold;
}
.editorContent :global(.ProseMirror em) {
  font-style: italic;
}

.editorContent :global(.ProseMirror p.is-editor-empty:first-child::before) {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
