/* client/components/editor/TiptapEditor.module.css */

.editorContainer {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.toolbar {
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.toolbar button.isActive {
  background-color: #e0e0e0;
  border-color: #0070f3;
}

.editorContent {
  padding: 1rem;
  min-height: 250px;
}

/* This is Editor specific styling */
.editorContent .ProseMirror {
  outline: none;
}

/* .editorContent .ProseMirror:focus,
.editorContent .ProseMirror:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.editorContent .ProseMirror p {
  margin: 0 0 1rem;
} */

.editorContent :global(.ProseMirror:focus),
.editorContent :global(.ProseMirror:focus-visible) {
  outline: none !important;
  box-shadow: none !important;
}

.editorContent :global(.ProseMirror p) {
  margin: 0 0 1rem;
}

.editorContent :global(.ProseMirror p:last-child) {
  margin-bottom: 0;
}

.editorContent :global(.ProseMirror ul),
.editorContent :global(.ProseMirror ol) {
  padding-left: 2rem;
  margin: 1rem 0;
}

.editorContent :global(.ProseMirror strong) {
  font-weight: bold;
}
.editorContent :global(.ProseMirror em) {
  font-style: italic;
}

.editorContent :global(.ProseMirror p.is-editor-empty:first-child::before) {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
